$font-family: 'Open Sans', helvetica, sans-serif;

$backdrop-blur: 4px;
$background-color: #f4f4f4;
$card-background-color: #fff;
$backdrop-color: #0006;

$grid-spacing: .5rem;

$border-radius: 5px;
$card-zoom: 1.1;
$transition-duration: .3s;

$border-color: #ccc;
$border: 1px solid $border-color;

$button-border: 2px solid $border-color;
$button-color-background: #f4f4f4;
$button-color-text: #fff;
$button-color-background-hover: #999;
